<div class="page">

    <body>
  
      <h1 class="glow">YOU LOOSE</h1>
  
    </body>
    <img class="doctor" *ngFor="let Img of Doctor" src={{Img}} />
    <p class="glow2">A little bit of History</p>
    <p class="glow1">Easter is the most important holiday of Christianity. It commemorates Jesus' resurrection, which the New Testament places two days after the Passion, that is, "the third day." The solemnity, preceded by Holy Week, the last part of Lent, begins on Easter Sunday.</p>
    <p class="glow">Try again!</p>
  </div>



