<div class="bandeau">
<span class="infobulle" aria-label="Passe ta souris sur la carte pour trouver les oeufs cachés"><p class="rules">Règle du jeu</p></span>
</div>
<div class="back col-12">
       

    
        
            <a class="egg1" [routerLink]="['../egg2']" >*</a>
        

        
            <a class="egg2" [routerLink]="['../hell']">*</a>
            <a class="egg3" [routerLink]="['../egg3']">*</a>
            <a class="egg4" [routerLink]="['../egg4']">*</a>
            <a class="egg5" [routerLink]="['../egg5']">*</a>
            <a class="egg6" [routerLink]="['../egg6']">*</a>
            <a class="egg7" [routerLink]="['../doctor']">*</a>
            <a class="egg8" [routerLink]="['../rabbit']">*</a>
            <a class="egg9" [routerLink]="['../egg1']">*</a>
        
</div>
<router-outlet></router-outlet>